*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('1.jpg');
    background-size: cover;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid skyblue;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;
}
.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    background: skyblue;
    border-radius: 8px;
    transition: 0.4s;
}
.register a:hover{
    background: transparent;
    border:1px solid skyblue;
}
.h-text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    transition: 0.4s;
}
.h-text a:hover{
    background: transparent;
    border:1px solid skyblue;
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: skyblue;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}
footer .foot{
    height: 20vh;
    width: 100%;
    align-items: justify;
    text-align: left;
    color: w;
    background-color: #333;
}
footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    background-color: #333;
    text-align: left;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

footer .footer-cols ul {
    list-style-type: none;
    
}

footer .footer-cols ul li:first-child {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
    font-family: sans-serif;
    color: black;
    text-decoration: none;


}

footer .footer-bottom {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    height: 0 px;
}
footer .container a { 
    color: black;
    text-decoration: none; }
footer .container a:hover { 
    color: white;
    }